

<body>
  <h1 class="form-heading">投稿一覧</h1>
  <div class="container">
    <div class="card">
      <div class="p-3">
        <img src="/user_images/default_user.jpg" class="img-thumbnail float-left mx-3">
        <div>
          <div class="post-user-name">
            投稿者：<%= link_to "出題者1", "/users/show" %>
          </div>
          <div class="">
            タイトル：<%= link_to "だみーーーーーーーーーーーーーーーー", "/posts/show" %>
          </div>
          <div class="text" >
            ♡ 100
          </div>
        </div>
      </div>
      <div class="p-3">
        <img src="/user_images/default_user.jpg" class="img-thumbnail float-left mx-3">
        <div>
          <div class="post-user-name">
            投稿者：<%= link_to "出題者1", "/users/show" %>
          </div>
          <div class="">
            タイトル：<%= link_to "だみーーーーーーー", "/posts/show" %>
          </div>
          <div class="text" >
            ♡ 100
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
