<body>
  <div class="container pb-3">
    <div class="font-weight-bold float-left">
      <img src="/user_images/default_user.jpg" class="img-thumbnail mx-3">
      <p class="text-center">出題者A</p>
    </div>
    <div class="float-right py-3">
      <div>
        投稿者：<%= link_to "出題者1", "/users/1" %>
      </div>
      <div>
        タイトル：<%= link_to "だみーーーーーーーーーーーーーーーー", "/posts/show" %>
      </div>
    </div>
    <p class="posts-title">タイトル</p>
      <div class="posts-show-title">
        <p>
          たいとる
        </p>
      </div>
  </div>

  <div class="container m-3 p-5">
    <h1>問題文</h1>
      <div class="card p-2">
        <p>
          ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
        </p>
      </div>
  </div>
</body>
