<header class="container">
  <nav class="font-weight-bold navbar navbar-expand navbar-dark bg-info fixed-top">
    <h1 class="display-5">
      <%= link_to "Top", "/", id: "logo", class: "navbar-brand" %>
    </h1>
    <ul class="navbar-nav ml-auto">
      <% if logged_in? %>
        <li class="nav-item nav-link">
          @user.name
        </li>
        <li class="nav-item">
          <%= link_to "新規投稿", "/posts/new", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "投稿一覧", "/posts/index", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", logout_path, method: :delete, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
